<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<style>
  .header {
    height: 10em;
    background-color: black;
    color: white;
  }

  body {
    margin: 0px;
    padding: 0px;
    background: rgb(250, 247, 247);
  }

  .data-tabl {
    box-shadow: 1px 1px 1px 1px;
    padding-bottom: 1em;
    background: rgb(255, 255, 255);
  }
</style>

<body>
  <main class="row">
    <div class="col-12 header">
      <h1 class="h2 text-center mx-auto text-white">Club Informatique ESATIC</h1>
      <h1 class="h2 text-center mx-auto text-white mt-2">Résultats</h1>
    </div>
    <div class="col-12">

      <div class="col-12  data-tabl my-3">
        <h2 class="h2 font-weight-bold text-center">JÔNIN</h2>
        <table class="table table-dark table-hover mb-2 ">
          <tr>
            <th>Nom</th>
            <th>Prenom(s)</th>
            <th>Filière</th>
          </tr>
          <tr>
            <td>ASSAMOI</td>
            <td> ANGE</td>
            <td></td>
          </tr>
        </table>
      </div>

      <div class="col-12 data-tabl my-5">
        <h2 class="h2 font-weight-bold text-center">CHÛNIN</h2>
        <table class="table table-dark table-hover mb-2 ">
          <tr>
            <th>Nom</th>
            <th>Prenom(s)</th>
            <th>Filière</th>
          </tr>
          <tr>
            <td>KAKOU</td>
            <td>MOISE</td>
            <td></td>
          </tr>
          <tr>
            <td>ANDO</td>
            <td>JOSUE</td>
            <td></td>
          </tr>
          <tr>
            <td>BALOGOU</td>
            <td>LEWIS</td>
            <td>TWIN 1</td>
          </tr>
          <tr>
            <td>AHIPKA</td>
            <td>JEAN CHRISTIAN</td>
            <td>SIGL 1</td>
          </tr>
          <tr>
            <td>KOUAKOU</td>
            <td>YANNICK</td>
            <td></td>
          </tr>
        </table>
      </div>

      <div class="col-12  data-tabl my-3">
        <h2 class="h2 font-weight-bold text-center">GÊNIN</h2>
        <table class="table table-dark table-hover mb-2 ">
          <tr>
            <th>Nom</th>
            <th>Prenom(s)</th>
            <th>Filière</th>
          </tr>
          <tr>
            <td>KOUAKOU</td>
            <td>HENRI JOEL</td>
            <td>SRIT 1C</td>
          </tr>
          <tr>
            <td>OLE</td>
            <td>EMERY</td>
            <td>SRIT 1C</td>
          </tr>
          <tr>
            <td>KOUASSI</td>
            <td>FERMAT</td>
            <td>SRIT 1C</td>
          </tr>
          <tr>
            <td>OROH</td>
            <td>JONATHAN</td>
            <td>SRIT 1A</td>
          </tr>
          <tr>
            <td>TRAORE</td>
            <td>ALHOUSSANY</td>
            <td>SIGL 1</td>
          </tr>
          <tr>
            <td>SEHI</td>
            <td>DAVID</td>
            <td>RTEL 1</td>
          </tr>
          <tr>
            <td>SYLLA</td>
            <td>TIEMOKO</td>
            <td>TWIN 1</td>
          </tr>
          <tr>
            <td>DEGRE</td>
            <td>LIA AIME WILFRIED</td>
            <td>RTEL 1</td>
          </tr>
          <tr>
            <td>DIAMANT</td>
            <td>MOUAMED</td>
            <td>SRIT 1C</td>
          </tr>
          <tr>
            <td>KOUASSI</td>
            <td>FIENI JEAN</td>
            <td>SRIT 1C</td>
          </tr>
          <tr>
            <td>KPA</td>
            <td>KOFFI JEAN</td>
            <td></td>
          </tr>
          <tr>
            <td>TRAORE</td>
            <td>IDRISSA</td>
            <td>SRIT 1B</td>
          </tr>
          <tr>
            <td>YEO</td>
            <td>FOUNGN</td>
            <td>SRIT 1B</td>
          </tr>
          <tr>
            <td>KONAN</td>
            <td>ELLA ANGE</td>
            <td></td>
          </tr>
          <tr>
            <td>KOUAKOU</td>
            <td>N'DR MICHEL</td>
            <td>SRIT 1C</td>
          </tr>
          <tr>
            <td>KEITA</td>
            <td>MARIAM</td>
            <td></td>
          </tr>
          <tr>
            <td>BAMBA</td>
            <td>SIGUI</td>
            <td></td>
          </tr>
          <tr>
            <td>N'GUESSAN</td>
            <td>DAMASE</td>
            <td>SRIT 1B</td>
          </tr>
          <tr>
            <td>KOFFI</td>
            <td>JEAN YVES</td>
            <td>SRIT 1B</td>
          </tr>
          <tr>
            <td>N'ZI</td>
            <td>ANICET</td>
            <td></td>
          </tr>
          <tr>
            <td>FANNY</td>
            <td>FAGA IBRAHIMA</td>
            <td></td>
          </tr>
          <tr>
            <td>TAZI</td>
            <td>KEBOLE</td>
            <td>TWIN 1</td>
          </tr>
          <tr>
            <td>N'GUESSAN</td>
            <td>TAPO EVRAD</td>
            <td></td>
          </tr>
          <tr>
            <td>CISSE</td>
            <td>EL HADJI</td>
            <td></td>
          </tr>
          <tr>
            <td>KIESSI</td>
            <td>DOU YANN</td>
            <td></td>
          </tr>
          <tr>
            <td>KONE</td>
            <td>ARIEL CHRISTIAN</td>
            <td></td>
          </tr>
          <tr>
            <td>SOMAKPO</td>
            <td>MONAN JOEL</td>
            <td></td>
          </tr>
          <tr>
            <td>COULIBALY</td>
            <td>KENIFON AMINATA</td>
            <td>SRIT 1C</td>
          </tr>
          <tr>
            <td>YALEKO</td>
            <td>LOA ANGE</td>
            <td></td>
          </tr>
          <tr>
            <td>DIARRA</td>
            <td>YAYA</td>
            <td></td>
          </tr>
          <tr>
            <td>YAO</td>
            <td>KOUAME </td>
            <td></td>
          </tr>
          <tr>
            <td>ABE</td>
            <td>ADOU JEAN</td>
            <td></td>
          </tr>
          <tr>
            <td>DIAKITE</td>
            <td>AWA</td>
            <td></td>
          </tr>

          <tr>
            <td>KOUAME</td>
            <td>APLA DON</td>
            <td></td>
          </tr>
          <tr>
            <td>KONAN</td>
            <td>LA CLAUDE</td>
            <td></td>
          </tr>
          <tr>
            <td>KANOITE</td>
            <td>SALIMATA</td>
            <td></td>
          </tr>
          <tr>
            <td>KONAN</td>
            <td>LAHOURET</td>
            <td></td>
          </tr>
          <tr>
            <td>CISSE</td>
            <td>NATINNIN</td>
            <td></td>
          </tr>
          <tr>
            <td>ASSI</td>
            <td>DIAMBA HAPYA</td>
            <td></td>
          </tr>
          <tr>
            <td>YEO</td>
            <td>FANIGUE ADAMA</td>
            <td></td>
          </tr>
          <tr>
            <td>DIABATE</td>
            <td>RAISSA</td>
            <td></td>
          </tr>
          <tr>
            <td>SOSO</td>
            <td>TAO AMINATA</td>
            <td></td>
          </tr>
          <tr>
            <td>KOMENAN</td>
            <td>KOFFI SERGE</td>
            <td>TWIN 1</td>
          </tr>
        </table>
    </div>


  </div> 

   
</main>

</body>

</html>